sequences/onboarding/state-machine.asl.json
{
  "StartAt": "Onboarding-Register",
  "States": {
    "Onboarding-Register": {
      "Next": "Onboarding-Choice1",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ClientExecutionTimeoutException",
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Type": "Task",
      "ResultPath": "$.context",
      "Resource": "arn:aws:lambda:us-east-1:000000000000:function:placeholder",
      "Parameters": {
        "action": "register",
        "sequenceId": "onboarding",
        "subscriber.$": "$.subscriber",
        "executionArn.$": "$$.Execution.Id"
      }
    },
    "Onboarding-Choice1": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.subscriber.attributes.platform",
          "StringEquals": "kajabi",
          "Next": "Onboarding-Choice2"
        },
        {
          "Variable": "$.subscriber.attributes.platform",
          "StringEquals": "thinkific",
          "Next": "Onboarding-Choice10"
        },
        {
          "Variable": "$.subscriber.attributes.platform",
          "StringEquals": "teachable",
          "Next": "Onboarding-Choice15"
        },
        {
          "Variable": "$.subscriber.attributes.platform",
          "StringEquals": "highlevel",
          "Next": "Onboarding-Choice18"
        },
        {
          "Variable": "$.subscriber.attributes.platform",
          "StringEquals": "kartra",
          "Next": "Onboarding-Choice21"
        }
      ],
      "Default": "Onboarding-Send24"
    },
    "Onboarding-Send24": {
      "Next": "Onboarding-ChoiceMerge1",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ClientExecutionTimeoutException",
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        },
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 60,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Type": "Task",
      "ResultPath": "$.sendResult",
      "Resource": "arn:aws:lambda:us-east-1:000000000000:function:placeholder",
      "Parameters": {
        "action": "send",
        "templateKey": "onboarding/generic-welcome",
        "subject": "Welcome to CheckoutJoy — let's get you set up",
        "subscriber.$": "$.subscriber"
      }
    },
    "Onboarding-ChoiceMerge1": {
      "Type": "Pass",
      "Next": "Onboarding-Wait25"
    },
    "Onboarding-ChoiceMerge2": {
      "Type": "Pass",
      "Next": "Onboarding-ChoiceMerge1"
    },
    "Onboarding-Send9": {
      "Next": "Onboarding-ChoiceMerge2",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ClientExecutionTimeoutException",
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        },
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 60,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Type": "Task",
      "ResultPath": "$.sendResult",
      "Resource": "arn:aws:lambda:us-east-1:000000000000:function:placeholder",
      "Parameters": {
        "action": "send",
        "templateKey": "onboarding/kajabi-global",
        "subject": "Your Kajabi checkout upgrade starts here",
        "subscriber.$": "$.subscriber"
      }
    },
    "Onboarding-Send7": {
      "Next": "Onboarding-ChoiceMerge2",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ClientExecutionTimeoutException",
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        },
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 60,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Type": "Task",
      "ResultPath": "$.sendResult",
      "Resource": "arn:aws:lambda:us-east-1:000000000000:function:placeholder",
      "Parameters": {
        "action": "send",
        "templateKey": "onboarding/kajabi-in",
        "subject": "Connect Razorpay to Kajabi — accept INR & UPI payments",
        "subscriber.$": "$.subscriber"
      }
    },
    "Onboarding-Choice2": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.subscriber.attributes.country",
          "StringEquals": "ZA",
          "Next": "Onboarding-Choice3"
        },
        {
          "Variable": "$.subscriber.attributes.country",
          "StringEquals": "IN",
          "Next": "Onboarding-Send7"
        },
        {
          "Variable": "$.subscriber.attributes.country",
          "StringEquals": "PH",
          "Next": "Onboarding-Send8"
        }
      ],
      "Default": "Onboarding-Send9"
    },
    "Onboarding-Choice3": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.subscriber.attributes.gateway",
          "StringEquals": "payfast",
          "Next": "Onboarding-Send4"
        },
        {
          "Variable": "$.subscriber.attributes.gateway",
          "StringEquals": "paystack",
          "Next": "Onboarding-Send5"
        }
      ],
      "Default": "Onboarding-Send6"
    },
    "Onboarding-Send6": {
      "Next": "Onboarding-ChoiceMerge3",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ClientExecutionTimeoutException",
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        },
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 60,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Type": "Task",
      "ResultPath": "$.sendResult",
      "Resource": "arn:aws:lambda:us-east-1:000000000000:function:placeholder",
      "Parameters": {
        "action": "send",
        "templateKey": "onboarding/kajabi-global",
        "subject": "Your Kajabi checkout upgrade starts here",
        "subscriber.$": "$.subscriber"
      }
    },
    "Onboarding-ChoiceMerge3": {
      "Type": "Pass",
      "Next": "Onboarding-ChoiceMerge2"
    },
    "Onboarding-Send4": {
      "Next": "Onboarding-ChoiceMerge3",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ClientExecutionTimeoutException",
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        },
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 60,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Type": "Task",
      "ResultPath": "$.sendResult",
      "Resource": "arn:aws:lambda:us-east-1:000000000000:function:placeholder",
      "Parameters": {
        "action": "send",
        "templateKey": "onboarding/kajabi-za-payfast",
        "subject": "Connect PayFast to Kajabi in 10 minutes",
        "subscriber.$": "$.subscriber"
      }
    },
    "Onboarding-Send5": {
      "Next": "Onboarding-ChoiceMerge3",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ClientExecutionTimeoutException",
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        },
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 60,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Type": "Task",
      "ResultPath": "$.sendResult",
      "Resource": "arn:aws:lambda:us-east-1:000000000000:function:placeholder",
      "Parameters": {
        "action": "send",
        "templateKey": "onboarding/kajabi-za-paystack",
        "subject": "Connect Paystack to Kajabi — accept Rand payments today",
        "subscriber.$": "$.subscriber"
      }
    },
    "Onboarding-Send8": {
      "Next": "Onboarding-ChoiceMerge2",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ClientExecutionTimeoutException",
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        },
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 60,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Type": "Task",
      "ResultPath": "$.sendResult",
      "Resource": "arn:aws:lambda:us-east-1:000000000000:function:placeholder",
      "Parameters": {
        "action": "send",
        "templateKey": "onboarding/kajabi-ph",
        "subject": "Accept GCash, GrabPay & local payments on Kajabi",
        "subscriber.$": "$.subscriber"
      }
    },
    "Onboarding-ChoiceMerge10": {
      "Type": "Pass",
      "Next": "Onboarding-ChoiceMerge1"
    },
    "Onboarding-Send14": {
      "Next": "Onboarding-ChoiceMerge10",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ClientExecutionTimeoutException",
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        },
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 60,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Type": "Task",
      "ResultPath": "$.sendResult",
      "Resource": "arn:aws:lambda:us-east-1:000000000000:function:placeholder",
      "Parameters": {
        "action": "send",
        "templateKey": "onboarding/thinkific-global",
        "subject": "Build better checkout pages for Thinkific",
        "subscriber.$": "$.subscriber"
      }
    },
    "Onboarding-Send11": {
      "Next": "Onboarding-ChoiceMerge10",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ClientExecutionTimeoutException",
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        },
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 60,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Type": "Task",
      "ResultPath": "$.sendResult",
      "Resource": "arn:aws:lambda:us-east-1:000000000000:function:placeholder",
      "Parameters": {
        "action": "send",
        "templateKey": "onboarding/thinkific-za",
        "subject": "Sell Thinkific courses in Rands with PayFast",
        "subscriber.$": "$.subscriber"
      }
    },
    "Onboarding-Choice10": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.subscriber.attributes.country",
          "StringEquals": "ZA",
          "Next": "Onboarding-Send11"
        },
        {
          "Variable": "$.subscriber.attributes.country",
          "StringEquals": "IN",
          "Next": "Onboarding-Send12"
        },
        {
          "Variable": "$.subscriber.attributes.country",
          "StringEquals": "SE",
          "Next": "Onboarding-Send13"
        }
      ],
      "Default": "Onboarding-Send14"
    },
    "Onboarding-Send12": {
      "Next": "Onboarding-ChoiceMerge10",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ClientExecutionTimeoutException",
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        },
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 60,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Type": "Task",
      "ResultPath": "$.sendResult",
      "Resource": "arn:aws:lambda:us-east-1:000000000000:function:placeholder",
      "Parameters": {
        "action": "send",
        "templateKey": "onboarding/thinkific-in",
        "subject": "Accept INR payments on Thinkific with Razorpay",
        "subscriber.$": "$.subscriber"
      }
    },
    "Onboarding-Send13": {
      "Next": "Onboarding-ChoiceMerge10",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ClientExecutionTimeoutException",
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        },
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 60,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Type": "Task",
      "ResultPath": "$.sendResult",
      "Resource": "arn:aws:lambda:us-east-1:000000000000:function:placeholder",
      "Parameters": {
        "action": "send",
        "templateKey": "onboarding/thinkific-se",
        "subject": "Accept Klarna payments on Thinkific",
        "subscriber.$": "$.subscriber"
      }
    },
    "Onboarding-ChoiceMerge15": {
      "Type": "Pass",
      "Next": "Onboarding-ChoiceMerge1"
    },
    "Onboarding-Send17": {
      "Next": "Onboarding-ChoiceMerge15",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ClientExecutionTimeoutException",
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        },
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 60,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Type": "Task",
      "ResultPath": "$.sendResult",
      "Resource": "arn:aws:lambda:us-east-1:000000000000:function:placeholder",
      "Parameters": {
        "action": "send",
        "templateKey": "onboarding/teachable-global",
        "subject": "Custom checkout pages for Teachable",
        "subscriber.$": "$.subscriber"
      }
    },
    "Onboarding-Send16": {
      "Next": "Onboarding-ChoiceMerge15",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ClientExecutionTimeoutException",
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        },
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 60,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Type": "Task",
      "ResultPath": "$.sendResult",
      "Resource": "arn:aws:lambda:us-east-1:000000000000:function:placeholder",
      "Parameters": {
        "action": "send",
        "templateKey": "onboarding/teachable-za",
        "subject": "Accept Rand payments on Teachable",
        "subscriber.$": "$.subscriber"
      }
    },
    "Onboarding-Choice15": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.subscriber.attributes.country",
          "StringEquals": "ZA",
          "Next": "Onboarding-Send16"
        }
      ],
      "Default": "Onboarding-Send17"
    },
    "Onboarding-ChoiceMerge18": {
      "Type": "Pass",
      "Next": "Onboarding-ChoiceMerge1"
    },
    "Onboarding-Send20": {
      "Next": "Onboarding-ChoiceMerge18",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ClientExecutionTimeoutException",
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        },
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 60,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Type": "Task",
      "ResultPath": "$.sendResult",
      "Resource": "arn:aws:lambda:us-east-1:000000000000:function:placeholder",
      "Parameters": {
        "action": "send",
        "templateKey": "onboarding/highlevel-global",
        "subject": "Custom checkouts for HighLevel — connect any gateway",
        "subscriber.$": "$.subscriber"
      }
    },
    "Onboarding-Send19": {
      "Next": "Onboarding-ChoiceMerge18",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ClientExecutionTimeoutException",
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        },
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 60,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Type": "Task",
      "ResultPath": "$.sendResult",
      "Resource": "arn:aws:lambda:us-east-1:000000000000:function:placeholder",
      "Parameters": {
        "action": "send",
        "templateKey": "onboarding/highlevel-za",
        "subject": "Accept Rand payments on HighLevel with PayFast",
        "subscriber.$": "$.subscriber"
      }
    },
    "Onboarding-Choice18": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.subscriber.attributes.country",
          "StringEquals": "ZA",
          "Next": "Onboarding-Send19"
        }
      ],
      "Default": "Onboarding-Send20"
    },
    "Onboarding-ChoiceMerge21": {
      "Type": "Pass",
      "Next": "Onboarding-ChoiceMerge1"
    },
    "Onboarding-Send23": {
      "Next": "Onboarding-ChoiceMerge21",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ClientExecutionTimeoutException",
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        },
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 60,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Type": "Task",
      "ResultPath": "$.sendResult",
      "Resource": "arn:aws:lambda:us-east-1:000000000000:function:placeholder",
      "Parameters": {
        "action": "send",
        "templateKey": "onboarding/kartra-global",
        "subject": "Custom checkout pages for Kartra",
        "subscriber.$": "$.subscriber"
      }
    },
    "Onboarding-Send22": {
      "Next": "Onboarding-ChoiceMerge21",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ClientExecutionTimeoutException",
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        },
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 60,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Type": "Task",
      "ResultPath": "$.sendResult",
      "Resource": "arn:aws:lambda:us-east-1:000000000000:function:placeholder",
      "Parameters": {
        "action": "send",
        "templateKey": "onboarding/kartra-za",
        "subject": "Accept Rand payments on Kartra with Paystack",
        "subscriber.$": "$.subscriber"
      }
    },
    "Onboarding-Choice21": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.subscriber.attributes.country",
          "StringEquals": "ZA",
          "Next": "Onboarding-Send22"
        }
      ],
      "Default": "Onboarding-Send23"
    },
    "Onboarding-Wait25": {
      "Type": "Wait",
      "Seconds": 86400,
      "Next": "Onboarding-Send26"
    },
    "Onboarding-Send26": {
      "Next": "Onboarding-Wait27",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ClientExecutionTimeoutException",
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        },
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 60,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Type": "Task",
      "ResultPath": "$.sendResult",
      "Resource": "arn:aws:lambda:us-east-1:000000000000:function:placeholder",
      "Parameters": {
        "action": "send",
        "templateKey": "onboarding/day-1-setup-checkin",
        "subject": "Did you get connected? (quick check-in)",
        "subscriber.$": "$.subscriber"
      }
    },
    "Onboarding-Wait27": {
      "Type": "Wait",
      "Seconds": 172800,
      "Next": "Onboarding-Send28"
    },
    "Onboarding-Send28": {
      "Next": "Onboarding-Wait29",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ClientExecutionTimeoutException",
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        },
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 60,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Type": "Task",
      "ResultPath": "$.sendResult",
      "Resource": "arn:aws:lambda:us-east-1:000000000000:function:placeholder",
      "Parameters": {
        "action": "send",
        "templateKey": "onboarding/day-3-features",
        "subject": "3 features that boost checkout conversions",
        "subscriber.$": "$.subscriber"
      }
    },
    "Onboarding-Wait29": {
      "Type": "Wait",
      "Seconds": 172800,
      "Next": "Onboarding-Send30"
    },
    "Onboarding-Send30": {
      "Next": "Onboarding-Wait31",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ClientExecutionTimeoutException",
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        },
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 60,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Type": "Task",
      "ResultPath": "$.sendResult",
      "Resource": "arn:aws:lambda:us-east-1:000000000000:function:placeholder",
      "Parameters": {
        "action": "send",
        "templateKey": "onboarding/day-5-social-proof",
        "subject": "How other course creators use CheckoutJoy",
        "subscriber.$": "$.subscriber"
      }
    },
    "Onboarding-Wait31": {
      "Type": "Wait",
      "Seconds": 172800,
      "Next": "Onboarding-Send32"
    },
    "Onboarding-Send32": {
      "Next": "Onboarding-Wait33",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ClientExecutionTimeoutException",
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        },
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 60,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Type": "Task",
      "ResultPath": "$.sendResult",
      "Resource": "arn:aws:lambda:us-east-1:000000000000:function:placeholder",
      "Parameters": {
        "action": "send",
        "templateKey": "onboarding/day-7-trial-halfway",
        "subject": "Your trial is halfway — here's what to do next",
        "subscriber.$": "$.subscriber"
      }
    },
    "Onboarding-Wait33": {
      "Type": "Wait",
      "Seconds": 172800,
      "Next": "Onboarding-Send34"
    },
    "Onboarding-Send34": {
      "Next": "Onboarding-Wait35",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ClientExecutionTimeoutException",
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        },
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 60,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Type": "Task",
      "ResultPath": "$.sendResult",
      "Resource": "arn:aws:lambda:us-east-1:000000000000:function:placeholder",
      "Parameters": {
        "action": "send",
        "templateKey": "onboarding/day-9-vat-tax",
        "subject": "Automate VAT and sales tax on your checkouts",
        "subscriber.$": "$.subscriber"
      }
    },
    "Onboarding-Wait35": {
      "Type": "Wait",
      "Seconds": 172800,
      "Next": "Onboarding-Send36"
    },
    "Onboarding-Send36": {
      "Next": "Onboarding-Wait37",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ClientExecutionTimeoutException",
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        },
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 60,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Type": "Task",
      "ResultPath": "$.sendResult",
      "Resource": "arn:aws:lambda:us-east-1:000000000000:function:placeholder",
      "Parameters": {
        "action": "send",
        "templateKey": "onboarding/day-11-conversion-tools",
        "subject": "Boost conversions with countdown timers and affiliates",
        "subscriber.$": "$.subscriber"
      }
    },
    "Onboarding-Wait37": {
      "Type": "Wait",
      "Seconds": 86400,
      "Next": "Onboarding-Send38"
    },
    "Onboarding-Send38": {
      "Next": "Onboarding-Complete",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ClientExecutionTimeoutException",
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        },
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 60,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Type": "Task",
      "ResultPath": "$.sendResult",
      "Resource": "arn:aws:lambda:us-east-1:000000000000:function:placeholder",
      "Parameters": {
        "action": "send",
        "templateKey": "onboarding/day-12-trial-ending",
        "subject": "Your trial ends in 2 days",
        "subscriber.$": "$.subscriber"
      }
    },
    "Onboarding-Complete": {
      "Next": "Onboarding-Done",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ClientExecutionTimeoutException",
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Type": "Task",
      "ResultPath": null,
      "Resource": "arn:aws:lambda:us-east-1:000000000000:function:placeholder",
      "Parameters": {
        "action": "complete",
        "sequenceId": "onboarding",
        "subscriber.$": "$.subscriber",
        "executionArn.$": "$$.Execution.Id"
      }
    },
    "Onboarding-Done": {
      "Type": "Succeed"
    }
  },
  "TimeoutSeconds": 2592000
}
